<div class="row text-center">
  <div class="col-md-12">
    <h1>
      <%= @recipe.title %>
      <%if current_user%>
      <!-- Toggle full croissant or empty croissant  -->
      <%if found_favorite(current_user, @recipe)%>
      <%=link_to('Unfavorite', favorite_recipe_path(@recipe), method: :post ) %>
      <%else%>
      <%=link_to('Favorite', favorite_recipe_path(@recipe), method: :post ) %>
    </h1>
    <%end%>
    <%end%>
    <h4><i>Rating: <%=@recipe.total%> | <i>Prep Time: <%=@recipe.prep_time%> | Difficulty: <%=@recipe.difficulty%></i> </h4>
    <p><%= @recipe.summary %></p>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <h2>Ingredients:</h2>
    <% @recipe.recipe_ingredients.includes(:ingredient, :metric, :amount).each do |x| %>
    <li> <%= x.amount.number %> <%= x.metric.name; %> of <%= x.ingredient.name;%>  </li>


    <%end%>
  </div>
  <h2>Instructions:</h2>
  <% lines = @recipe.instructions.split("\n")%>
  <ul class='list-group col-md-8'>
    <% lines.each do |line| %>
    <li class="list-group-item"> <%=line%> </li>
    <%end%>
  </ul>

</div>
  <p class="text-center"> Rate this recipe: <%= form_for :ratings, url: rate_recipe_path(@recipe),  html: {class: "form-inline text-center"} do |f| %>
    <%= f.select(:value, [['great', 5], ['good', 4], ['mediocre', 3], ['poor', 2], ['horrible', 1]], options: {class: 'form-control'}) %>
    <div class="actions">
    <%= f.submit "Submit" %>
<%end%>
  </div>

  </p>
</div>
